/* General css */
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* ===Vision Page=== */

/* Landing Contents */
#landing{
    background-image: url(../images/vision-bg.jpg);
    background-size: cover;
    min-height: 600px;
    width: auto;
}
#landing-contents{
    text-align: left;
}
#landing-contents-h5{
    color: #fff;
    font-weight: lighter;
}
#landing-contents-h3{
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: justify;
}

/* Vision Contents */
#vision-content-a{
    text-decoration: none;
}
#vision-content-h2{
    font-weight: bold;
}
#vision-content-p{
    font-weight: bold;
}

/* Parellax Section */
#parallax {
    background-image: url(../images/parellax-bg.jpg);
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax-h3{
   color: #fff;
}

/* Content Section */
#content-subcontent-p{
    text-align: justify;
}

/* Features Section */
#features{
    border: 1px solid rgba(16,30,54,.15);
}

/* Get in tocuh */
#get-in-touch {
    background: linear-gradient(
      90deg,
      rgba(16, 44, 131, 1) 0%,
      rgba(22, 111, 147, 1) 100%
    );
  }
  #get-in-touch h2 {
    font-weight: bold;
  }

  /* Mobile Device Media Queries */
  @media (max-width:575.98px){
      #landing-image{
          margin:0;
      }
      #content-subcontent{
          padding-left: 0%;
      }
  }

  /* ===Learning Page=== */

  /* Vision Contents */
#learn-content-a{
    text-decoration: none;
}
#learn-content-h2{
    font-weight: bold;
}
#learn-content-p{
    font-weight: bold;
}
#learn-content-span{
    font-size: 0.9em;
    font-weight: lighter;
}

/* Landing Contents */
#learn-landing{
    background-image: url(../images/learn-bg.jpg);
    background-size: cover;
    min-height: 500px;
}
#learn-landing-contents{
    text-align: left;
}
#learn-landing-contents-h5{
    color: #fff;
    font-weight: lighter;
}
#learn-landing-contents-h3{
    color: #fff;
    font-weight: normal;
    font-size: 1.5em;
    text-align: justify;
}

/* ===API Dvelopment Page */

#api-card-p{
    text-align: justify;
}